.selfieSnap{
  float: left;
  margin-left: 100px;
  
}

img{
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.btn-success{
  background-color: #42b983;
}

